@import "./variables";

i.bookmark-icon, i.watched-movie-icon {
  position: absolute;
  cursor: pointer;
  font-size: 2em;
  opacity: 0.7;
  color: $icon-disabled-color;

  &.selected, &.watched {
    color: $icon-enabled-color;
  }
}

i.bookmark-icon {
  top: -2px;
  left: 5px;
}

i.watched-movie-icon {
  top: -5px;
  left: 35px;
}