@import "./variables";

.container-movie {
  position: relative;
  background-color: $movie-container-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.movie-info {
  padding: 5px 5px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $active-actived-link-color;
    }
  }

  h2 {
    font-size: 1em;
    margin: 8px 0;
  }
  .vote-container {
    margin-top: 5px;
    i {
      color: $active-actived-link-color;
    }
    .vote {
      color: $movie-vote-color;
    }
  }
}